.active {
    color: #000000;
    border-bottom-left-radius: 10%;
    background-color: #06ccd6;
    font-weight: bolder;
    font-size: large;
    padding-left: 1%;
    padding-right: 1%;
    width: 100%;
}